* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    
    font-family: 'Gloria Hallelujah', cursive;
    font-size:22px;

  }

  
  li{
    list-style:none;
  }


  html {

    height: 100%;

    background: rgb(97, 126, 255);
    background: radial-gradient(circle, rgb(183, 206, 255) 24%, rgb(126, 126, 255));
    background-size: cover;

  }


  #container{

    width: 290px;

    text-align: center;

    height:auto;

    margin:4px auto;
  }


  #calculadora {

    width: 234px;
    height: 350px;

    border-radius: 10px;

    margin: 90px auto;

    padding: 20px;

    background-color: #7c90ff;

  }

  .input-valor{

    margin: 8px auto;

    width:95%;
    height:30px;

    font-size: 16px;

    overflow: hidden;
    text-align: right;
    color: #48484D;

    padding: 4px;

    border-radius: 5px;

    background-color: rgb(248, 196, 255);
    box-shadow: inset -1px -1px 4px 1px rgb(20, 20, 20);

  }


  .key li {

    width:50px;
    height:30px;

    border-radius:5px;

    color:rgb(255, 255, 255);
    background-color:#b357ff;

    cursor:pointer;

    float:left;

    margin: 0px 5px 10px 8px;

    line-height: 30px;

    text-align: center;

    box-shadow: 0px 3px 1px 0px #2a2d3a;

  }


  .key li:hover{
    
    background-color: #e284ff;
    color: #ffffff;

    transition:0.2s;

  }


  .key li:active{

    box-shadow: 0px 1px 1px 0px #444651;

  }

  .verificar{

    width: 93.4% !important;

  }